.no-sidebar {
	.content-area {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.site-main {
		margin-right: 0;
	}
}
.wrrap{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

}
#mainpage{
  z-index: 1;
  height: 100vh;
  width: 100%;

}
.section img {
  object-fit: contain !important;
  height: 100vh;
}
