.no-sidebar {
	.content-area {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.site-main {
		margin-right: 0;
	}
}
.wrrap{
  width: 100%;
  position: relative;
}
#mainpage{
  z-index: 1;
  height: 100vh;
  width: 100%;
  //background-size: contain !important;
  //background: no-repeat #000;

}
.section img {
  object-fit: contain !important;
  height: 100vh;
}
