
.grid{
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
  padding: 1px;

  
}
.grid-item{
  float: left;
  flex: auto;
}
.grid-item img {
  //margin: 0 auto;
}

