.main-nav {
  background-color: $color__background-opacity;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.sf-arrows .sf-with-ul::after {
  border-top-color: $color__active-link
}
.sf-menu {
  margin: 0;
  padding: 0;
  position: relative;
}
.sf-menu a {
  padding: .17em 1em;
}
.sf-menu .sf-mega {
  background-color:  rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: auto;
}
.sf-menu .sf-mega:after {
  content: '';
  position: absolute;
  border-top: $color__active-link;
  left: 10%;
  margin-left: -12px;
  top: 0;
  width: 0;
  z-index: 1000;
}
.sf-menu .sf-mega ul {
  display: block;
  float: none;
  position: relative;
}
.sf-menu .sf-mega ul li {
  background: $color__background-transparent;
  display: block;
  margin: 5px 0;
}
.sf-menu .sf-mega ul li a {
  color: $color__inverted-link;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.sf-menu .sf-mega ul li a:before {
  content: "\f105";
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
}
.sf-menu .sf-mega ul li a:hover {
  color: $color__inverted-link;
  margin-left: 5px
}
.sf-menu li {
  position: static;
  white-space: normal;
  background: none;
  float: none;
}
.sf-menu li a:before
 {
  content: '\2013';
  color: $color__active-link;
  height: 3px;
  margin: 0 5px;
  width: 30%;
}

.sf-menu li:hover {
  background:  $color__background-transparent
}
.sf-menu li > a {
  text-decoration: none;
  color: $color__active-link;
  @include font-size(1.9);
  border: none;
  display: block;
  position: relative;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.sf-menu li > a:hover {
  text-decoration: $color__background-transparent;
  cursor: pointer;
  color: $color__inverted-link;
}
.sf-menu li > a.active {
  border-top: 2px solid $color__active-link;
  margin: 0;
}
.sf-menu li > li {
  position: static;
  white-space: normal;
  background: none;
  //float: left
}
.sf-menu li > li:hover {
  background:  $color__background-transparent
}
.sf-menu li > li > a {
  text-decoration: none;
  color: $color__inverted-link;
  font-size: 14px;
  border: none;
  display: block;
  position: relative;
  margin: 0;
}
.sf-menu li > li > a:hover {
  text-decoration: none;
  //color: royalblue
  cursor: pointer;
}
.sf-menu li > li > a.active {
  border-top: 2px solid $color__active-link;
  margin: 0;
}
.sf-menu li > li > ul {
  width: 200px;
  left: auto;
}
.sf-menu li > li > ul > li {
  background-color:  $color__background-opacity;
}
.sf-menu li > li > ul > li:hover {
  background-color:  $color__background-opacity;
}
.sf-menu li > li > ul > li a {
  color: royalblue;
  position: relative;
}
.sf-menu li > li > ul > li a:hover {
  color: $color__active-link
}
.inline-menu {

}
.inline-menu li {
  display: inline-block;
  margin: 0 10px;
}
.inline-menu li:after,
.inline-menu li:before{
  content: '\2013';
  color: #fff;
  height: 3px;
  margin: 0 5px;
  width: 30%;
}

.inline-menu li a {
  color: $color__inverted-link;
  font-weight: bold;
  @include font-size(1.5);
  text-decoration: none;

}
.mobile-mnu {
  cursor: pointer;
}
.toggle-mnu {
  display: block;
  width: 45px;
  height: 33px;
  float: left;
  padding: 6px 8px;
}
.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 3px;
  background-color: $color__active-link;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: $color__background-transparent
}
.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -moz-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  -o-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -moz-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  -o-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}
@media only screen and (max-width: 992px) {
  .sf-menu {
    display: none !important
  }

}
@media only screen and (min-width: 992px){
  .toggle-mnu {
    display: none !important;
  }
}
