#contact-box{
  width: 100%;
  overflow-y: auto;
  margin: 60px 0;
}
.contact-info{
  background-color: $color__active-link;
  color: $color__inverted-link;
  text-align: center;
  padding: 50px 0;
  line-height: 45px;
}
.contact-info h2 {

}

.contact-info h2:after {
  background-color: #FFFFFF;
  height: 1px;
  width: 30px;
}
.contact-block {
  background-color: $color__background-blocks;
  padding: 0 20px;
  color: $color__inverted-link;
  opacity: .8;


}
.contact-block ul li {
  display: inline-block;
  background-color: $color__background-body;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-top: 20px;
}
.contact-form {
  padding: 50px 30px;
}
.contact-block ul li > a {
  color: $color__inverted-link;
  @include font-size(1.7);
}