.sticky {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.top-header{
  height: 200px;
  width: 100%;
  //border: 1px solid red;
  @include clearfix();
}
.header-logo,
.logo {
  margin: 0 auto;
  text-align: center;
  color: $color__inverted-link;
  object-fit: cover;
}
.header-logo {
  width: 300px;
}
.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
#content-box{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 30px;
  //color: #000;
  //border: 1px solid red;

}
/* Scrollbar styles */
::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  //background: transparent;
  border-radius: 10px;
}



